.btn {
    border-radius: 2rem;
}

.user-playlists-page {
    background-color: white;
    border-radius: .25rem;
}

.load-more-button {
    background-color: #57428C;
}

.load-more-button-wrapper {
    display: flex;
    justify-content: center;
}
