.playlist-img {
    height: 3rem;
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
    }
}

.spinner {
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
}
